<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Dettaglio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img src="https://picsum.photos/id/764/960/540">
    <section padding>
        <ion-text color="medium">Codice</ion-text>
        <ion-text color="primary">
            <h1>Titolo talk</h1>
        </ion-text>
        <strong>Relatore</strong>
        <ion-text color="medium">
            <p>Giorno &mdash; orario</p>
        </ion-text>
    </section>
</ion-content>
