<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Dettaglio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img *ngIf="talk" src="https://picsum.photos/seed/{{ code }}/960/540">
    <section *ngIf="talk" padding>
        <ion-text color="medium">{{ code }}</ion-text>
        <ion-text color="primary">
            <h1>{{ talk.title }}</h1>
        </ion-text>
        <strong>{{ talk.speaker }}</strong>
        <ion-text color="medium">
            <p>{{ talk.date }} &mdash; {{ talk.time }}</p>
        </ion-text>
    </section>
</ion-content>
