<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>ESC 2019</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card routerLink="/detail">
        <img src="https://picsum.photos/id/167/960/540" />
        <ion-card-header>
            <ion-card-subtitle>Codice</ion-card-subtitle>
            <ion-card-title>Titolo talk</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card routerLink="/detail">
        <img src="https://picsum.photos/id/25/960/540" />
        <ion-card-header>
            <ion-card-subtitle>Codice</ion-card-subtitle>
            <ion-card-title>Titolo talk</ion-card-title>
        </ion-card-header>
    </ion-card>
</ion-content>
